@use 'styles/breakpoints' as *;

.layout--wrapper {
    background-color: #ddd;

    .link--wrapper {
        background-color: #aaa;
    }


    > main {
        border: 4px solid #a00;
    }

    @include md {
        > main {
            border-color: #0a0;
        }

    }

}